body{
    background: hsl(200, 80%, 10%);
}

.harmonica {
  margin: 0 auto;
  font-family: monospace;
}

/* .harmonica :nth-child(even){
    background: hsl(190, 40%, 50%);
}
.harmonica :nth-child(odd){
    background: hsl(200, 50%, 50%);
} */
.panelContainer {
  padding: 1rem;
  background: hsl(200, 50%, 50%);
  border-radius: 0.5rem;
  max-width: 800px;
  margin: .5rem;
}
.item {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 400ms;
  border-radius: .5rem;
  
}
.item > p {
  overflow: hidden;
  
}
.panelContainer:hover {
  background: hsl(210, 60%, 50%);
}
.open {
  display: grid;
  grid-template-rows: 1fr;
  padding: .5rem;
  transition: grid-template-rows 400ms;
  
}
.headerTrigger {
  all: unset;
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 2rem;
  border-radius: .5rem;
}
.item-2 {
}
.item-3 {
}
.item-4 {
}
.item-5 {
}
